body{
    background-color:#f2f2f2;
    
}
footer{
    text-align: center;
    background-color:none;
    font-style: italic;
    font-size: 200%;
    color:chartreuse
  }
  input[type="reset"] {
    padding: 5px 10px;
    font-size: 12px;
    font-family: arial,sans-serif;
    background-color: #f8f8f8;
  }
  input[type="submit"]{
    padding: 5px 10px;
    font-size: 12px;
  }
  