h1,h2{
    border-radius: 24px;
    border-style: solid;
    border-width:medium;
    border-color:red;
    border-top-style:none;
    border-bottom-style:outset;
    border-left-color:rgb(251, 255, 34);
    border-bottom-width: 8px;
    border-left-width: 6px;
    border-right-width: 0px;
    padding: 5px;
background-color: rgb(109, 241, 37);
opacity: 0.8;
text-align: center;
 } 
 div{
    list-style-type: none;
    margin: 5;
    padding: 5;
    font-size: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display:contents;
 }
 li a {
    display: inline;
    color: black;
    text-align: center;
    padding: 7px 70px;
    text-decoration: none;
    border-bottom: 0px;
    border-top: 0px;
    border-style: inset;
    background-color: #f0f0f0;
  }
  li{
    display: inline;
  }
  footer{
    text-align: center;
    background-color: none;
    font-style: italic;
    font-size: 200%;
    color: chartreuse;
  }