/* id selector*/
#para1 {
font-size: 100%;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: center;
}
/*Elelement selector*/
table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid black;
  }
  h1,h2{
    color:black;
    text-transform: uppercase;
    border-radius: 28px;
    text-align: center;
    border-radius: 26px;
    border-style: solid;
    border-width: medium;
    border-color:none;
    border-bottom-style: outset;
    border-bottom-width: 10px;
    border-bottom-color: rgb(194, 3, 3);
    border-left-width: 8px;
    border-left-color:greenyellow;
    border-top-style: none;
    border-right-width: 0px;
    padding: 5px;
background-color: rgb(78, 202, 160);
opacity: 1;
  }
  /*Group selector*/
 h2,h3,h4,h5,h6{
  border-radius: 24px;
    border-style: solid;
    border-width:medium;
    border-color:red;
    border-top-style:none;
    border-bottom-style:outset;
    border-left-color:greenyellow;
    border-bottom-width: 8px;
    border-left-width: 6px;
    border-right-width: 0px;
    padding: 5px;
background-color: rgb(87, 237, 187);
opacity: 0.8;
text-align: center;
 }
  
  h8,h9,h10,h11, {
    border-radius: 24px;
    border-style: solid;
    border-width:medium;
    border-color:red;
    border-top-style:none;
    border-bottom-style:outset;
    border-left-color:  rgb(101, 182, 20);
    border-bottom-width: 8px;
    border-left-width: 6px;
    border-right-width: 0px;
    padding: 5px;
background-color: rgb(78, 218, 171);
opacity: 0.9;
text-align: center;
  }
footer{
  text-align: center;
  background-color: chartreuse;
  font-style: italic;
  font-size: 200%;
}
input[type="reset"] {
  padding: 5px 10px;
  font-size: 8px;
}
input[type="submit"]{
  padding: 5px 10px;
  font-size: 8px;
}
a[href="https://www.greenlife.co.ke"] {
  padding: 40%;
}
#in1{
  text-align: center;
  width: 1200px;
  border-width: medium;
  
}
#main{
  padding-left: 20%;
  max-width: 100%;
  height: auto;
}
#headline{
    list-style-type: none;
    margin: 20;
    padding: 20;
    font-size: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
  }
  li a {
    display: inline;
    color: black;
    text-align: center;
    padding: 14px 80px;
    text-decoration: none;
    border-style: none;
    display: flex;
    justify-content: space-between;
    margin-left: 30%
   
  }
  li{
    display: inline-block;
  }
  address{
    text-align: center;
    display: flexbox;
    background-color: chartreuse;
  }
  .container{
   display: flex; 
   justify-content: space-between; /* Space between the logo and the nav-links */
   align-items: center;     /* Vertically center-align items */
  }
