/* id selector*/
#para1 {
font-size: 100%;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: center;
}
/*group selector*/
  h1,h2,h3{
    color:black;
    text-transform: uppercase;
    border-radius: 28px;
    text-align: center;
    border-radius: 26px;
    border-style: solid;
    border-width: medium;
    border-color:none;
    border-bottom-style: outset;
    border-bottom-width: 10px;
    border-bottom-color: rgb(226, 14, 14);
    border-left-width: 8px;
    border-left-color:greenyellow;
    border-top-style: none;
    border-right-width: 0px;
    padding: 5px;
background-color: rgb(59, 180, 29);
opacity: 1;
  }
  /*Group selector*/
 h4,h5,h6{
  text-align: left;
 }
footer{
  text-align: center;
  background-color: chartreuse;
  font-style: italic;
  font-size: 200%;
}
a[href="https://www.greenlife.co.ke"] {
  padding: 40%;
}
#search{
  text-align: center;
  width: 1200px;
  border-width: medium;
  
}
#main {
  padding-left: 20%;
  max-width: 100%;
  height: auto;
}
#headline{
    list-style-type: inline;
    margin: 0;
    padding: 0;
    font-size: 80%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
  }
  li a {
    display: inline;
    color: black;
    text-align: center;
    padding: 7px 40px;
    text-decoration: none;
    border-style: none;
    display: flex;
    justify-content: space-between;
    margin-left: 30%
   
  }
  li{
    display: inline-block;
  }
  address{
    text-align: center;
    display: flexbox;
    background-color: chartreuse;
  }
  /*hovering effect*/
  img:hover{
    opacity: 0.7;
  }
 
